<div class="ion-view" cache-view="false" view-title="Gastos mensuales">
    <div class="ion-content" padding="true" class="has-header">
        <div class="item container">
            <table width="100%">

                <thead>
                    <th>Mes</th>
                    <th>Total</th>
                </thead>
                <tbody ng-repeat="item in viewModel.listado">
                    <tr>
                        <td>{{item.mes}}</td>
                        <td>{{item.importe}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>
