<div class="ion-view">
    <div class="ion-content" padding="true" class="has-header">
        <div class="item container">
            <div ng-if="true">
                <h2>Destinatario:</h2>
                <div class="radio-container">
                    <span ng-repeat="usr in viewModel.posiblesUsuariosDestino" class="radio-item">
                        <label class="radio-label">
                            <input type="radio" ng-model="viewModel.usuarioDestino" ng-value="usr" class="radio-input">
                            <div class="radio-icon">
                                <div class="radio-inner"></div>
                            </div>
                            {{usr.name}}
                        </label>
                    </span>
                </div>
            </div>
            <div class="col text-center">
                <label for="importeReintegro" class="item item-input">
                    <span class="input-label"><strong>Importe:</strong></span>
                    <input style="font-size:25px; font-family: monospace;" id="importeReintegro" type="number" class="item text-right item-input" ng-disabled="viewModel.soloEnviarMensaje" ng-model="viewModel.importeReintegro" step="0.01">
                </label>
            </div>
            <div class="col text-center">
                <label for="comentarioReintegro" class="item item-input">
                    <span class="input-label"><strong>Comentario:</strong></span>
                    <div class="input-group">
                        <input id="comentarioReintegro" type="text" class="form-control" ng-model="viewModel.comentarioReintegro" />
                        <i class="fa fa-pencil"></i>
                    </div>
                </label>
            </div>
        </div>
        <div class="row footer-container">
            <div class="col">
                <div>
                    <label>
                        <input type="checkbox" ng-change="cambioSoloNotificar()" ng-model="viewModel.soloEnviarMensaje" ng-true-value="true" ng-false-value="false">
                        Sólo notificar (No registra movimientos)
                    </label>
                </div>
                <div class="row">
                    <div class="col">
                        <button ng-disabled="!viewModel.isValid()" ng-click="viewModel.registrar()" class="button button-block button-positive">Registrar</button>
                    </div>
                    <div class="col">
                        <button ng-click="viewModel.limpiarFormulario()" class="button button-block button-positive">Limpiar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
